/* 기본 스타일 */
select {
  appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 드롭다운 화살표 아이콘 */
select::after {
  content: '\25BC';
  position: absolute;
  top: calc(50% - 6px);
  right: 10px;
  font-size: 12px;
}

/* 호버 시 스타일 변화 */
select:hover {
  border-color: #3694d7;
}

/* 선택된 옵션 스타일 */
select option:checked {
  background-color: #3694d7;
  color: #fff;
}

.error {
  border: 2px solid red;
  position: relative;
}

.error::after {
  content: "택배사를 선택해주세요.";
  color: red;
  font-size: 12px;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
  margin-left: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 450px;
}

.search-input {
  flex-grow: 1;
  padding: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.search-icon {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.search-icon:hover {
  color: #3694d7;
}

#result-container {
  display: none;
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.5;
  max-width: 450px;
}